/* .swiper-container {
  width: 100%;
  height: auto;
} */

.carousel-container {
  padding: 0vw 0vw;
}

.swiper-slide {
  border-radius: 1%;
}

.custom-button {
  width: 27px;
  height: 44px;
  background-color: white;
}

.swiper-button-prev {
  border:none;
}