body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 4vw;
  padding: 0 13.5vw 0 13.5vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 701px) {
    .user-container {
      flex-direction: row;
      display: flex;
    }

    .form-divider {
      margin-bottom: 2.2vw;
    }

    .input-box {
      margin: 0.5vw 0;
      margin-bottom: 1.5vw;
    }

    .form-container {
      /*margin: top right bottom left */
      margin: 0vw 0vw 0vw 2.5vw;
    }

    .form-container {
      width: 50%;
    }

    .form-button-container {
      padding-top: 1.5vw;
    }
  
    .form-button {
      width: 8vw;
      border-radius: 0.35em;
    }

    .image-container {
      width: 50%;
    }

    .image-text {
      font-size: 0.7em;
      padding: 2.2vw 2.1vw 3.6vw 2.1vw;
    }

    .step-button {
      padding: 1em 1em;
      margin-right: 0.8vw;
    }
}

@media only screen and (min-width: 1001px) {
  .image-text {
    font-size: 0.9em;
  }
}