.root-container {
  background: rgb(229,229,229);
  border-radius: 0.2em;
}

@media only screen and (min-width: 700px) {
  .root-container {
    padding: 0 1.5vw 0 1.5vw;
  }
}

.divider {
  margin: 1.2em 0;
  border: none;
  background-color: white;
  height: 1px;
}

.footer {
  text-align: center;
  padding-bottom: 1em;
}