.root-container {

}

@media only screen and (min-width: 700px) {
  .root-container {
    padding: 0 15vw 0 15vw;
  }
}

.divider {
  margin: 1.2em 0;
  border: none;
  background-color: white;
  height: 1px;
}

.footer {
  text-align: center;
  margin-bottom: 1em;
}